<div class="container">
<%= render @link %>

<div>
  <%= link_to "Back to links", links_path %>
  <% if @link.user == current_user %>
  <%= link_to "Edit this link", edit_link_path(@link) %> |
  <%= button_to "Destroy this link", @link, method: :delete %>
  <% else %>
  <% end %>
</div>



<h3 class="comments_title">
  <%= @link.comments.count %> Comments
</h3>

<div id="comments">
  <%= render :partial => @link.comments %>
</div>
<%= form_for [@link, Comment.new]  do |f| %>
  <div class="container">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
</div>


